<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweat="{{eaten}}">
		{{#if eaten}}DEVOUR!{{else}}NOT EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
